.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: rgb(1, 0, 34);
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 1vw;
  margin: auto;
 
}

#textfield1, #textfield2, #checkbox1  {
  /* background-color: red; */
  margin: 1em;
}
/* 
#textfield2 {
  background-color: yellow;
}

#checkbox1 {
  background-color: green;
} */



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



table {
  table-layout:fixed;
  width: 100%;
  text-align: center;
}

th {
  color: white;
  background-color: rgb(38, 59, 90);
}

tr:nth-child(even) {
  background-color: #c8ddeb;
}

table, th, td {
  border: 1px solid #c5d7ff;
  padding: 1em;
  overflow: visible;
  word-wrap: break-word;
  text-align: left;
  width: 100%;
}

table th:first-child{
  width: 200%;
}

table th:second-child{
  width: 60%;
}

.thumbnails{
  width: 5vw;
  height: auto;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}


/*ARLEMs table*/
.table-responsive { 
  width: 100%; 
  border-collapse: collapse; 
 
}

.table-responsive  td, th { 
  border-bottom: 1px solid #ccc; 
  text-align: center; 
}


input[type="text"]{ padding: 10px 0.5vw; line-height: 10px; width: 15%;}

@media only screen and (max-width: 840px) {

  .header {

    font-size: 3vw;
    flex-direction: column;
  }

  input[type="text"]{ padding: 10px 1vw; line-height: 10px; width: 70%;}


	/* Force table to not be like tables anymore */
	.table-responsive, thead, tbody, td, tr { 
		display: block; 
	}

  .table-responsive th { 
		display: none; 
	}
	
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-responsive thead tr { 
		position: absolute;

                
	}
	
	.table-responsive tr { border: 2px solid #ccc; }
	
	.table-responsive td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
	}
	
	.table-responsive td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 1px;
		left: 6px;
		padding-right: 10px; 
		white-space: nowrap;
    font-weight: bold; 
	}


	.table-responsive td:nth-of-type(1):before { content: "Title"; }
	.table-responsive td:nth-of-type(2):before { content: "Genre"; }
	.table-responsive td:nth-of-type(3):before { content: "Year released"; }
  .table-responsive td:nth-of-type(4):before { content: "Director"; }
  .table-responsive td:nth-of-type(5):before { content: "Description"; }
	.table-responsive td:nth-of-type(6):before { content: "Thumbnail"; }
  

  .thumbnails{
    width: 20vw;
  }
}
